<h1> Add person </h1>

<%= form_for :person, url: persons_path  do |f| %>

	<% if @person.errors.any? %>
		<% @person.errors.full_messages.each do |msg| %>
			<div class = "alert alert-danger"> <%= msg %> </div>
		<% end %>
	<% end %>

	<p>
		<%= f.label :name %> <br>
		<%= f.text_field(:name, {:class => 'form-control'}) %>
	</p>

	<p>
		<%= f.submit({:class => 'btn btn-primary'}) %>
	</p>

<% end %>


