<h1>Welcome!</h1>
<h2>Here are the most recent 3 documents:</h2>
<% @documents.each do |document| %>
    <div>
        <p><b>Id: </b><%= document.id %></p>
        <p><b>Name: </b><%= document.document_name %></p>
        <p><b>Description: </b><%= document.description %></p>
        <p><b>Content: </b><%= document.content[0..20].gsub(/\s\w+\s*$/,'...') %></p>
        <p><b>Created at: </b><%= document.created_at %></p>
        <p><%= link_to 'Show', document %></p>
    </div>
    <hr />
<% end %>

<%= link_to "Go to all documents", documents_path %>
