<p id="notice"><%= notice %></p>

<%= render 'layouts/header' %>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<div id="subscribed">


</div>

<div id="new-events">
  <%= form_with(model: @attendance, url: "/people/#{@person.id}/add_event") do |f| %>
    <%= f.hidden_field :person_id, value: @person.id %>
    <%= f.select :event_id, @unsubscribed.map{|e| [e.name, e.id]}, :prompt => 'Select One' %>
    <%= f.submit "Submit" %>
  <% end %>
</div>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
