<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @attendance.name %>
</p>

<p>
  <strong>Event:</strong>
  <%= @attendance.event %>
</p>

<%= link_to 'Edit', edit_attendance_path(@attendance) %> |
<%= link_to 'Back', events_path %>
