<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Register", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>

<h1>Editing Document</h1>

<% if user_signed_in? %>
    <% if @document.owners.include? current_user.email %>
        <%= render 'form', document: @document %>
    <% else %>
        <p>You don't have permission to edit this file!</p>
    <% end %>
<% else %>
  <p>Please sign in to edit this file</p>
<% end %>

<%= link_to 'Show', @document %> |
<%= link_to 'Back', documents_path %>
<br>
<%= link_to 'Home', '/' %>