<p id="notice"><%= notice %></p>

<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, :class => 'navbar-link'  %>
  <br>
  <% if @document.owners.include? current_user.email %>
    <p>
      <strong>Name:</strong>
      <%= @document.name %>
    </p>
    <p>
      <strong>Description:</strong>
      <%= @document.description %>
    </p>
    <p>
      <strong>Content:</strong>
      <%= @document.content %>
    </p>
    <p>
      <strong>Owners:</strong>
      <%= @document.owners %>
    </p>
    <%= link_to 'Edit', edit_document_path(@document) %> |
  <% else %>
    <p>You don't have permission to view this file!</p>
  <% end %>
<% else %>
  <p>Please log in to view this file</p>
  <%= link_to "Register", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
  <br>
<% end %>
<%= link_to 'Back', documents_path %>
<br>
<%= link_to 'Home', '/' %>