<h1   style="color:pink;"><center>Home page</center></h1>
<h2>Hello :))). This is my ugly home page.</h2>

<% if user_signed_in? %>
	<li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
<% else %>
	<li><%= link_to 'Sign up', new_user_registration_path %></li>
	<li><%= link_to 'Log in', new_user_session_path %></li>
<% end %>

<% @documents.each do |document| %>
    <p><%= document.title %></p>
    <p><%= document.about %></p>
    <p><%= document.text %></p>
  <% end %>



