<h1> Organization information </h1>

<div>
    Name: <%= @organization.name %>
    <br>
</div>

<br>

<div>
    <% if !@events_attended.empty? %>
        <h2> Attended events </h2>
        <% @events_attended.each do |e| %>
            Event: <%= link_to e.name, event_path(e) %>
            <br>
            Location: <%= e.location %>
            <br>
            Description: <%= e.description %>
            <br>
            Date: <%= e.date %>
            <br>
            <%= link_to 'Cancel attendance', "/organizations/cancel_attend?event_id=#{e.id}&organization_id=#{@organization.id}", method: :post, data: {confirm: 'Are you sure you want to cancel attendance?'} %>  
            <br><br>
        <% end %>
    <% end %>
</div>

<div>
    <%if !@events_unattended.empty? %>
        <h2> Events your organization might want to attend </h2>
        <%= form_with url: "/organizations/attend_event?organization_id=#{@organization.id}", method: :post do |f| %>
            <%= f.select :event_id do %>
                <%= options_from_collection_for_select(@events_unattended, :id, :name) %>
            <% end %>
            <%= f.submit 'Attend' %>
        <% end %>
    <% end %>
</div>

<br>

<%= link_to 'Edit', edit_organization_path(@organization) %>
<br>
<%= link_to 'Delete', organization_path(@organization), method: :delete, data: { confirm: 'For real?' } %> 
<br>
<%= link_to 'Back to all organizations', organizations_path %>