
<% if user_signed_in? %>
	<%= form_for @document do |doc| %>
		<p>
			<%= doc.label :name %> <br><br>
			<%= doc.text_field :name %> <br>
			<br>
			<%= doc.label :description %> <br> <br>
			<%= doc.text_area :description %> <br>
			<br>
			<%= doc.label :content %> <br> <br>
			<%= doc.text_area :content %> <br>
			<br>
			<%= doc.submit "Edit document" %>
		</p>
	<% end %>

<% else %>
	You need to <%= link_to 'log in', new_user_session_path %> before you edit this document
<% end %>

