<h1><%= "Document: #{@document.name}" %></h1>
<h4>Description:</h4>
<%= content_tag :p, @document.description %>
<br />
<%= content_tag :p, @document.content, class: 'content' %>
<br />
<%= link_to 'Back to all documents', documents_path %> <br />
<%= link_to 'Edit document', edit_document_path(@document) %> <br />
<%= link_to 'Delete document', @document, method: :delete,
            data: { confirm: 'Are you sure?' } %>

