<h1>Welcome !</h1>
<p><%= @user %></p>

<%= link_to 'New document', new_document_path %> <br/><br/>
<% @documents.each do |document| %>
         
	
            <%= link_to document.name, document_path(document) %> <br/>
	    <p><%= document.discription %></p>
            <h3><%= button_to "Delete",  document, method: :delete, confirm: "Are you sure that you wish to delete #{document.name}?" %></h3>
      	    
         
<% end %>
<%= link_to "Logout", destroy_user_session_path, :method=>:delete %>
