<h1>Events#new</h1>
<p>Find me in app/views/events/new.html.erb</p>


<%= form_for @event do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name %><br/>
  <%= f.label :place %><br>
  <%= f.text_field :place %><br/>
  <%= f.label :description %> <br>
  <%= f.text_field :description %><br>
  <%= f.label :date %><br/>
  <%= f.text_field :date %><br><br>
  <%= f.submit %>
<% end %>
<br>
<%= link_to "Go back", root_path %>
