<!DOCTYPE html>
<html>

   <head>
      <title>Tutorialspoint</title>
      <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
      <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
      <%= csrf_meta_tags %>
   </head>

   <body>
      <div class = "container" style = "padding-top:20px;">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
         <%= yield %>
      </div>
      <% if !flash[:notice].blank? %>
   <div class = "alert alert-info">
      <%= flash[:notice] %>
   </div>
<% end %>

<br />

<%= link_to "New document", new_document_path, class: "btn btn-primary" %>
<br />
<br />

<table class = "table table-bordered table-striped">
   <thead>.
      <tr>
         <th>Name</th>
         <th>Download Link</th>
         <th> </th>
      </tr>
   </thead>

   <tbody>
      <% @documents.each do |document| %>

         <tr>
            <td><%= document.name %></td>
            <td><%= link_to "Download document", document.attachment_url %></td>
         </tr>

      <% end %>
   </tbody>

</table>
   </body>

</html>
