<h1>ROOT PAGE</h1>
<h2>HERE YOU CAN SEE THE NEWEST 3 DOCUMENTS</h2>

<%= button_to ' create new document', new_document_path, method: :get%><br>

<%@docs.each do |doc|%>
    <%=link_to document_path(doc) do%>
        edit <%=doc.name%><br>
    <%end%>
    <%=doc.name%><br>
    <%=doc.text.truncate_words(100)%><br>
<%end%>