<h3>This is the main page</h3>
<% if user_signed_in? %>
	<%= button_to 'Logout',  destroy_user_session_path, method: :delete %>
<% else %>
	<%= button_to 'Sign up', new_user_registration_path, method: :get %>
	<%= button_to 'Log in', new_user_session_path, method: :get %>
<% end %>
<%= button_to 'All documents', documents_path, method: :get %>

<p>Files: </p>
<% @docs.each do |doc| %>
 <li> <%= link_to doc.filename, document_path(doc) %> </li>
<% end %>