<h1>Documents#edit</h1>
<p>Find me in app/views/documents/edit.html.erb</p>

<%= form_for @document do |d| %>
    <p>
        <%= d.label :name %> <br>
        <%= d.text_field :name %>
    </p>

    <p>
        <%= d.label :description %> <br>
        <%= d.text_area :description %>
    </p>

    <p>
        <%= d.label :content %> <br>
        <%= d.text_area :content %>
    </p>

    <p>
        <%= d.submit 'Create' %>
    </p>
<% end %>

<br>

<% if user_signed_in? %>
    Signed in as <strong><%= current_user.email %></strong>
    <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
<% else %>
    <%= link_to "Sign in", new_user_session_path %>
<% end %>