<h1> Create new person </h1>

<%= form_for @person do |ps| %>
    <p>
        <%= ps.label :name %>
        <br>
        <%= ps.text_field :name %>
    </p>

    <p>
        <%= ps.label :organization_id %>
        <br>
        <%= ps.select :organization_id  do %>
            <%= options_for_select(@organizations_list) %>
        <% end %>
    </p>

    <p>
        <%= ps.submit %>
    </p>
<% end %>
