<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @document.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @document.description %>
</p>

<p>
  <strong>Content:</strong>
  <%= @document.content %>
</p>
<% if model_signed_in? %>
  
  <li>
  <%= link_to('Logout', destroy_model_session_path, method: :delete) %>
  
  </li>
  <br>
  <li>
  
  <%= link_to('Edit registration', edit_model_registration_path) %>

  </li>
<% else %>
  <li>
  <%= link_to('Login', new_model_session_path)  %>
  <br>
  
  </li>

  

  <li>  
  <%= link_to('Register', new_model_registration_path)  %>
  </li>
<% end %>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
