<h1 align = "center"><%= @person.name  %></h1><br/>
<h2 align = "center">Attended Events</h2>
<h3 align = "center">
<% @person.events.each do |event| %>
<%= event.name %>
<%= link_to 'Delete', "/people/" + params[:id] + "?event=" + event.id.to_s, method: :delete %><br/>

<% end %>
</h3>

<h2 align = "center">

<%= form_tag '/people/attendance' do %>
  <%= collection_select :event, :event_id, @events, :id, :name %><br/>
  <%= hidden_field_tag 'name', @person.name %>
  <%= hidden_field_tag 'direct_attend', 'false' %>
  <%= submit_tag 'Attend' %>
<% end %>
</h2>
