
<h1>Solve equation!</h1>

<%= form_tag("/calculations/create/", method: "post") do %>
	<p>
		A:<%= text_field_tag(:a) %><br>
		B:<%= text_field_tag(:b) %><br>
		C:<%= text_field_tag(:c) %><br>
	</p>

	<p>
		<%= submit_tag "Submit"%><br>
	</p>

<% end %>
