<!DOCTYPE html>
<html>
  <head>
    <title>Events</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= link_to "All events", events_path %>
  <%= link_to "Create new event", new_event_path %>
  <%= link_to "Create new person", new_person_path %>
    <%= yield %>
  </body>
</html>
