<p id="notice"><%= notice %></p>

<%= link_to "Index", controller: "landing_page", action: "index" %>
<h1>Documents</h1>

<div id = "document_list">
  <% for document in @documents %>
    <div id = "document">
      <p id = "name" class = "property"><%= document.name %></p>
      <p id = "description" class = "property"><%= document.description %></p>
      <p id = "body" class = "property"><%= document.body %></p>

      <div id = "links" class = "property">
        <%= link_to 'Show', document %>
        <% if logged_in? %>
        <%= link_to 'Edit', edit_document_path(document) %>
        <%= link_to 'Destroy', document, method: :delete %>
      </div>
    <% end %>
    </div>
    <br>
  <% end %>
</div>
<%= link_to 'New Document', new_document_path %>


