<h1>Documents#new</h1>
<p>Find me in app/views/documents/new.html.erb</p>
<%= form_tag("/documents", method: "post") do %>
 	Name: <br>
 	<%= text_field_tag(:name) %><br>
 	Description: <br>
	<%= text_area_tag(:description, nil, rows: 2, cols: 50) %><br>
	Text: <br>
	<%= text_area_tag(:value, nil, rows: 40, cols: 50) %><br>
	<%= submit_tag "Submit" %><br>
<% end %>

<%= link_to 'Back to documents', documents_path %> <br>
